body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #6A42C2 !important;
}

.nav-item-btn {
  background-color: #6A42C2;
  border-radius: 5px;
  text-align: center;
  color: white !important;
}

.nav-item-btn:hover {
  background-color: #8B5DFF;
}

.navbar .nav-link {
  color: #333;
}

.navbar .nav-link.nav-link.off:hover {
  text-decoration: underline #6A42C2 2px;
}

.navbar .nav-link.active {
  color: #6A42C2 !important;
  font-weight: bold;
}

.logo {
  width: 100px;
}

/* filter */
.btn-reset {
  background-color: #6A42C2;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn-reset:hover {
  background-color: #8B5DFF;
  color: white;
}

.form-check-input:checked {
  color: #6A42C2;
  background-color: #6A42C2;
  border: none;
}

/* Slider */
.slide {
  accent-color: #6A42C2;
  border: none;
  box-shadow: none;
  width: 100%;
}

.slider:hover {
  accent-color: #8B5DFF;
}

/* Job Cards */
.text-salary {
  color: #6A42C2;
  font-weight: bold;
}

.job-card {
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.job-card:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card-btn {
  border: none;
  text-decoration: none;
  padding: 10px 10px;
  background-color: #6A42C2;
  border-radius: 5px;
  text-align: center;
  color: white !important;
}

.card-btn:hover {
  background-color: #b79aff;
}

.job-card {
  position: relative;
}

/* icon Hati */

.job-card .bi-heart, .job-card .bi-heart-fill {
  font-size: 1.75rem; 
  color: #6c757d;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease; 
  position: absolute;
  top: 22px;
  right: 25px; 
}

.job-card .bi-heart-fill {
  color: #6A42C2; 
}

.job-card .bi-heart:hover, .job-card .bi-heart-fill:hover {
  transform: scale(1.2); 
  color: #8c5aee; 
}

.job-card .text-danger {
  color: #6A42C2 !important;
}


.job-card .d-flex {
  padding-right: 30px; 
}


h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #6A42C2;
  text-align: center;
  font-weight: bolder;
}

/* main */
.container {
  max-width: 1140px;
}


footer {
  margin-top: auto;
  width: 100%;
  height: 5rem;
}

/* modal */
.btn-modal-cancel{
  background-color: #6A42C2;
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: none;
  width: 100px;
}
.btn-modal-cancel:hover{
  background-color: #8B5DFF;
}

.btn-modal-remove{
  background-color: rgb(229, 78, 78);
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: none;
  width: 100px;
}

.btn-modal-remove:hover{
  background-color: rgb(241, 117, 117);
}